<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT FlickrFeed ANY>
<!ATTLIST FlickrFeed id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>

]>
<root id="-1">
  <FlickrFeed id="1084" key="7aac4784-a4e6-44ab-91f3-eb99a1017543" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-12-19T15:05:59" updateDate="2015-12-19T16:10:14" nodeName="Flickr Feed" urlName="flickr-feed" path="-1,1084" isDoc="" nodeType="1083" creatorName="Michael Mejer Antonsen" writerName="Michael Mejer Antonsen" writerID="0" template="1082" nodeTypeAlias="FlickrFeed">
    <testProperty><![CDATA[Flickr Feed - Test Property]]></testProperty>
    <pageTitle><![CDATA[Flickr Feed]]></pageTitle>
    <bodyText><![CDATA[<p>This is the body text</p>]]></bodyText>
    <pageImage><![CDATA[/media/1050/image2.jpg]]></pageImage>
  </FlickrFeed>
</root>