.search-box {
    background-color: $color-search-box;
    padding-top:10px;
}

.form-holder{
    max-width:30em;
}

.search-component{
    margin-bottom: 0.5em;
}

#chbx-sort{
    position:relative;
    margin-left:0;
}