@using Umbraco_test.Controller;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master1.cshtml";
}
<!-- MyController begin -->
<div ng-controller="MyController as controller">

    <!-- jumbotron begin -->
    <div class="container">
        <div class="jumbotron search-box">
            <h1 class="text-center">Flickr Feed!</h1>

            <div class="row form-holder center-block">
                <div class="col-sm-12 col-md-9 col-lg-9 text-center search-component">
                    <input id="txt_tag_holder" class="form-control" type="text" placeholder="Search for tags here ..." autofocus />
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 text-center search-component">
                    <input class="btn btn-primary" type="submit" value="Search!" ng-click="controller.update('first')" />
                </div>
                <div class="checkbox col-lg-12">
                    <h4><input id="chbx-sort" type="checkbox">Sort on date</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- jumbotron end -->

    <!-- main-content begin -->
    <div class="container">
        <div class="row no-margin">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb" ng-repeat="item in photoCollection.items">
                <a href="#{{item.unique_token}}" data-toggle="modal" class="thumbnail">
                    <img class="img-responsive" id="img-thumbnail" ng-src="{{item.media.m}}" alt="Photo of {{item.title}}" />
                </a>

                <!-- modal begin -->
                <div class="modal fade" id="{{item.unique_token}}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h3>{{item.title}}</h3>
                                <h6>{{item.date_taken}}</h6>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <img class="center-block img-responsive" src="{{item.media.f}}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" data-dismiss="modal">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal end -->

            </div>
        </div>
        <input id="btn-load-more" class="btn btn-info center-block hidden" type="submit" value="Load More" ng-click="controller.update('last')" /> 
    </div>
    <!-- main-content end -->

</div>
<!-- MyController end -->
