@using Umbraco.Web.Mvc;
@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/angular/controllers.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/custom-style.min.css" rel="stylesheet">

    <title>@CurrentPage.pageTitle | @CurrentPage.testProperty</title>
</head>
<body id="bootstrap-overrides">

    @RenderBody()

    <!-- footer-margin begin -->
    <div style="height:10em;"></div>
    <!-- footer-margin end -->

    <!-- footer begin-->
    <div class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
        <div class="container ">
            <p class="navbar-text">
                This Was Made By&nbsp;&nbsp;
                <a class="navbar-btn btn btn-primary" href="#">Michael Antonsen</a>
            </p>
        </div>
    </div>
    <!-- footer end-->



</body>
</html>